// Colors
$blue-100: #EAF1FB;
$blue-200: #E1EDFF;
$blue-300: #2F73DA;
$blue-400: #165ECC;
$blue-500: #034AB3;

$white: #ffffff;
$gray-100: #F7F9FC;
$gray-200: #EDF1F7;
$gray-300: #E2E8F0;
$gray-400: #CBD3DF;
$gray-500: #A4B0C1;
$gray-600: #768397;
$gray-700: #768397;
$gray-800: #2D3847;
$gray-900: #19212C;

$success: #14C764;
$warning: #FCBC19;
$error: #EB3434;

//Easing
$transition: all 350ms cubic-bezier(.475,.425,0,.995);
$easing: cubic-bezier(.475,.425,0,.995);

// Shadows
$shadow-low: 0px 1px 3px rgba(87, 102, 117, 0.2);
$shadow-med: 0px 3px 8px rgba(87, 102, 117, 0.15);
$shadow-high: 0px 10px 20px rgba(87, 102, 117, 0.16);

//Spacing
$spacing-4px: 4px;
$spacing-8px: 8px;
$spacing-12px: 12px;
$spacing-16px: 16px;
$spacing-24px: 24px;
$spacing-32px: 32px;
$spacing-40px: 40px;
$spacing-48px: 48px;
$spacing-64px: 64px;
$spacing-96px: 96px;

@font-face {
    font-family: 'Proxima Nova';
    font-weight: 400;
    src: url(/fonts/ProximaNova-Reg.otf);
}

@font-face {
    font-family: 'Proxima Nova';
    font-weight: 700;
    src: url(/fonts/ProximaNova-Sbold.otf);
}

@font-face {
    font-family: 'Proxima Nova';
    font-weight: 900;
    src: url(/fonts/ProximaNova-Bold.otf);
}

body{
    padding: $spacing-48px;
    overflow: hidden;
}

//Color

div, p, a, input, textarea, label, button, h1, h2, h3{
    color: $gray-900;
}

.color-secondary{
    color: $gray-700;
}

//Font Sizes

div, p, a, input, textarea, label, button {
    font-family: 'Proxima Nova';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

h1, h2, h3{
    font-family: 'Proxima Nova';
    font-weight: 900;
    margin: 0;
    padding: 0;
}

h1, .h1{
    font-size: 36px;
    line-height: 48px;
}

h2, .h2{
    font-size: 24px;
    line-height: 32px;
}

h3, .h3{
    font-size: 20px;
    line-height: 24 px;
}

.paragraph, p{
    font-size: 16px;
    line-height: 24px;
}

.small-paragraph{
    font-size: 14px;
    line-height: 20px;
}

.small{
    font-size: 14px;
    line-height: 16px;
}

.x-small{
    font-size: 12px;
    line-height: 16px;
}

.tiny{
    font-size: 10px;
    line-height: 12px;
}

div, button{
    box-sizing: border-box; 
}

.spacer{
    width: 100%;
    height: $spacing-16px;
}

// Links

a, .link{
    color: $blue-300;
    transition: $transition;
    text-decoration: none;
    cursor: pointer;

    &:hover{
        color: $blue-400;
    }
}

//Buttons

button{
    background: $gray-300;
    transition: $transition;
    border: 1px solid $gray-300;
    cursor: pointer;
    border-radius: 2px;
    padding: $spacing-12px;

    &:hover{
        background: $gray-400;
        border-color: $gray-400;
    }

    &:focus{
        outline: -webkit-focus-ring-color auto 2px;
    }
    
    &.icon-btn{
        display: flex;
        align-items: center;

        svg{
            margin-right: $spacing-8px;  
        }

        &.right{
            svg{
                margin: 0;
                margin-left: $spacing-8px;  
            }
        }
    }

    &.primary{
        background: $blue-300;
        border: 1px solid $blue-300;
        color: $white;

        &:hover{
            background: $blue-400;
            border: 1px solid $blue-400;
        }
    }
    
    &.outline{
        background: $white;
        border: 1px solid $gray-300;
        color: $blue-300;

        &:hover{
            background: $white;
            border: 1px solid $blue-400;
            color: $blue-400;
        }
    }
}

//Drawer

.drawer{
    position: absolute;
    right: -400px;
    top: 0;
    transition: $transition;
    width: 400px;
    height: 100vh;
    background: $white;
    padding: $spacing-32px $spacing-24px $spacing-24px;
    box-shadow: $shadow-med;

    &.open{
        right: 0;
    }

    .close{
        float: right;
        transform: translate(4px, -16px);
        cursor: pointer;

        svg{
            width: 24px;
            height: 24px;
        }
    }
}

.modal{
    height: 400px;
    width: 400px;
    background: $white;
    padding: $spacing-24px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    box-shadow: $shadow-high;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: $transition;

    &.open{
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
        transform: translate(-50%, -50%);
    }

    .close{
        float: right;
        transform: translate(4px, -4px);
        cursor: pointer;

        svg{
            width: 24px;
            height: 24px;
        }
    }
}

.modal-overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .25);
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: $transition;
    cursor: pointer;

    &.open{
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
    }
}