nav.flex.ai-center.jc-between.mobile-hide.desktop-nav
  .nav-left.flex.ai-center
    a(href='/')
      img(src='/assets/logo.svg' alt='Utah Speech Therapy home page')
    a.flex.m-l-48.ai-center.mobile-hide.color-default.hide-990(href='tel:5032909077')
      img(src='./assets/phone.svg' alt='Call Utah Speech Therapy at 5032909077')
      span.m-l-12 (503) 290-9077
  .nav-right
    a.color-default.m-r-48(href='') Services
    a.color-default.m-r-48(href='') Pricing
    a.color-default.m-r-48(href='') Blog
    a.color-default.m-r-48(href='') Contact
    a.btn.btn-small(href='#') Apply Now
nav.mobile-nav.ai-center.jc-between
  button.sr-only
    img.menu-toggle(style='display: block;' src='./assets/menu.svg' alt='Open menu')
  a(style='display: block;' href='/')
    img(src='./assets/logo.svg' width='24' height='24' alt='Utah Speech Therapy home page')
  a(style='display: block;' href='tel:5032909077')
    img(src='./assets/phone.svg' alt='Call Utah Speech Therapy at 5032909077')
.slide-out-nav
  .nav-top
    button.sr-only
      img.menu-toggle(style='display: block;' src='./assets/close.svg' alt='close menu')
    a.color-default.m-t-40.m-b-24.flex.h2(href='/') Home
    a.color-default.m-b-24.flex.h2(href='/') Services
    a.color-default.m-b-24.flex.h2(href='/') Pricing &amp; Schedule
    a.color-default.m-b-24.flex.h2(href='/') Blog
    a.color-default.m-b-24.flex.h2(href='/') Contact
  a.btn.w-100(href='#') Apply Now